@using Teahub.Models;
@model IList<Review>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Danh sách đánh giá</h2>
    </div>

    <p>

        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Review" asp-action="Create">
            <i class="bi bi-file-earmark-text me-1"></i>
            Thêm đánh giá
        </a>
    </p>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-1 text-center">#</th>
                                    <th class="col-3 text-center">Khách hàng</th>
                                    <th class="col-1 text-center">Ẩn/Hiện</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <th class="text-center" scope="row">@item.ReviewID</th>


                                        <td>
                                            <a asp-area="Admin" asp-controller="Review" asp-action="Details"
                                               asp-route-id="@item.ReviewID" class="text-primary">    @item.Author</a>
                                        </td>

                                        <td class="text-center">@item.IsActive</td>

                                        <td class="text-center">
                                            <a asp-area="Admin" asp-controller="Review" asp-action="Edit"
                                               asp-route-id="@item.ReviewID" class="btn btn-primary btn-sm"
                                               title="Sửa đánh giá"><i class="bi bi-pencil"></i></a>
                                            <a asp-area="Admin" asp-controller="Review" asp-action="Delete"
                                               asp-route-id="@item.ReviewID" class="btn btn-danger btn-sm"
                                               title="Xóa đánh giá"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>